#navbar {
    background: rgb(184, 0, 0);
    background: linear-gradient(90deg, rgba(184, 0, 0, 1) 24%, rgba(2, 0, 158, 1) 71%);
}

.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}