#navbar {
    background: rgb(184, 0, 0);
    background: linear-gradient(90deg, rgba(184, 0, 0, 1) 24%, rgba(2, 0, 158, 1) 71%);
}

.navbar-dark .nav-item .nav-link {
    color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: #fff;
}

.fa-li {
    position: relative;
    left: 0;
}

footer {
    background: rgb(184, 0, 0);
    background: linear-gradient(90deg, rgba(184, 0, 0, 1) 24%, rgba(2, 0, 158, 1) 71%);
    color: #fff;
    padding: 40px 0;
}

.footer-top {
    margin-bottom: 30px;
}

.footer-title {
    margin-bottom: 20px;
}

.footer-title h4 {
    font-size: 30px;
    font-weight: bold;
}

.footer-title h4,
.footer-title a {
    color: #fff;
}

.footer-title a {
    text-decoration: none;
}

.footer-top ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

.footer-top ul li {
    margin-bottom: 10px;
}

.footer-top ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom p {
    margin-bottom: 0;
}

.footer-social {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
}

.table {
    margin-bottom: 30px;
}

.table td:first-child {
    width: 140px;
}

.footer-logo img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.footer-bottom {
    border-top: 1px solid #fff;
    padding-top: 20px;
    margin-top: 20px;
}
footer li, footer a {
    font-size: 20px;
}

@media (max-width: 767.98px) {
    .footer-title h4 {
        font-size: 18px;
    }
}
